  
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  label {
    margin: 10px 5px;
    font-size: medium;
    color: rgb(6, 82, 6);

  }

  .fields {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0px 20px;
    margin-bottom: 15px;
}

  input{
    width: 100%;
    padding: 3px;
    border: 1px solid rgb(202, 201, 201);
  }
  .login-heading{
    font-size: xx-large;
  }

  .login-button {
    margin-top: 20px;
    border: 1px solid;
    color: white;
    border-radius: 10px;
    margin-bottom: 20px;
    padding: 5px 20px;
    font-size: larger;
    background-color: rgb(6, 82, 6);
}
  .login-page{
    margin-top: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .admin-login {
    /* border: 1px solid gray; */
    width: 320px;
    border-radius: 10px;
    background-color: #def0d4;
    margin: 30px;
    padding: 15px;
    box-shadow: 1px 5px 12px 2px #808080a3;
}