body{
  background-color:rgb(255, 255, 255);
  padding: 0px 5px;
  font-family: "Josefin Sans", sans-serif;
}   
                           

/* TOP NAV  */
.top-nav{
  background:#dce499;
  
}
.contact-info{
  display:flex;
  font-size: medium;
  justify-content: right;
}
.contact-item{
  padding: 5px 10px;
}
/* HEADER */
.header{
  display: flex;
  background-color:rgb(9, 92, 43);
  padding:5px
}
.header-logo{
  height: 8em;
  width: auto;
  padding: 10px;
  align-self: center;
  
}
.header-content{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  color:rgb(242, 253, 248);
  justify-content: center;
}
.sub-content1{
  font-weight: bold;
}
.sub-content2{
  text-align: center;
  padding: 5px 30px;
  font-weight: bold;
  font-size: x-large;
}
@media (max-width:450px) {
  .header{
    display: flex;
    flex-direction: column;
  }
  
}
/* NAVIGATION BAR */
.navbar{
  display: flex;
  overflow: auto;
  justify-content: center;
  /* background-color:#dce499; */
  border-radius: 5px ;
  /* margin-left: 10px;
  margin-right: 10px; */
  padding:5px;
  justify-content: space-around;
  
}
.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}


.navigation-links{
  margin:5px;
  padding: 5px 10px;
  color: #00203FFF;
  text-decoration: none;
  font-size: medium;
  display: block;
}
.navigation-links:hover{
  background-color: rgb(50, 153, 55); /* Blue background */
  color: #fff; /* White text color */
  box-shadow: 0 0 10px rgba(0, 123, 255, 0.5); /* Shadow effect */
  transform: scale(1.3); /* Scale effect */
  border-top-left-radius: 1em;
  border-bottom-right-radius: 1em;
  transition: 0.4s;
}

/* HOME PAGE BACKGROUND IMAGE */
.img-container{
  margin: 0px;
  position: relative;
  max-width: 100%; /* Ensure the container does not exceed the image width */
}
.Background-image{
  width: 100%;
  display: block;
  height: auto;
  margin: 0px;
  
}

.text-overlay{
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(180, 212, 105, 0.5); /* Semi-transparent background */
  color: #161247; /* White text color */
  padding: 10px 20px; /* Padding around the text */
  text-align: center; /* Center-align text */
  border-top-left-radius: 2em;
  border-bottom-right-radius: 2em;
  
}
@media (max-width: 768px) {
  .text-overlay {
    max-width: 90%; /* Adjust for smaller screens */
    padding: 8px 16px; /* Adjust padding for smaller screens */
  }
}

/* ABOUT US SECTION */
.about-us{
  margin-top: 30px;
  margin-bottom: 20px;
}

.about-us-heading{
  display: flex;
  justify-content: right;
  background-color: #c1c495;
  align-items: center;
}
.about-us-text{
  align-content: center;
  font-size: xx-large;
  display: flex;
  justify-content: center;
  padding: 100px;
  
}
  
.about-us-image{
  width: 500px;
  height: 300px;
  justify-items: end;
}

.important-headings{
  display:flex;
  border-top-left-radius: 2em;
  border-top-right-radius: 2em;
  background-color: #dce499; /* Semi-transparent background */
  font-size: xx-large;
  justify-content: center;
  margin-bottom: 20px;
  padding: 20px;
  }
.bg-color{
  background-color: white;
}
.about-sections{
  display: flex;
  justify-content: space-between;
}

.paragraph{
  padding: 50px 50px 30px 50px;
  width: 100%;
  font-size: medium;
  color:  rgb(13, 88, 13);
  text-align: center;
  line-height: 2;
}
.description{
  padding: 0px 50px;
  display: flex;
  justify-content: center;
  text-align: center;
  line-height: 2;
}
.first-letter-larger::first-letter{
  font-size:xx-large;
  font-weight: bold;
  color: rgb(13, 88, 13);

}

@media (min-width: 768px) {
  .about-sections {
      flex-direction: row; /* Display items side by side on larger screens */
  }

  .about-us-image {
     
      max-width: 100%; /* Ensure image does not exceed its container */
      height: auto; /* Maintain aspect ratio */
      display: flex;
      justify-content: center;
      align-items: center;
  }
}
@media (max-width: 450px) {
  .about-sections {
    flex-direction: column; /* Display items side by side on larger screens */
}
.about-us-heading{
  display: flex;
  flex-direction: column;
}
.about-us-text{
  padding: 20px;
}
  .about-us-image{
    align-self: center;
  }
}

/* COURSES */

.courses-container{
  margin-top: 90px;
  display: flex;
}
.courses-vertical-font{
  display: flex;
  flex-direction: column;
  border-bottom-left-radius: 1em;
  border-bottom-right-radius: 1em;
  margin-right: 20px;
  font-weight: 600;
}
.course-item{
  border-top-left-radius: 1em;
  border-bottom-left-radius: 1em;
  padding: 10px;

  /* border:1px solid green; */
  font-weight: bolder;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.course-item:hover{
    transform: translateY(-5px); /* Example animation on hover */
    /* transform: scale(1.1); */
    box-shadow: 0 0 10px rgba(78, 78, 77, 0.507);
}

.course-details{
  padding: 10px;
  border-top-right-radius: 1em;
  border-bottom-right-radius: 1em;
  /* border-top-right-radius: 1em;
  border-bottom-right-radius: 1em; */
  line-height: 1.8;
  /* border:1px solid green; */
  background-color: #dce499;
  font-size: small;
  
}
/* CARDS SECTION */
.slick-arrow{
  color: green;
}
.all-cards{
  display: flex;
  flex-wrap: wrap;
  /* gap: 20px; Adjust the gap between cards */
  justify-content: space-around;
}
.card {
  margin: 10px;
  padding:10px;
  width: 200px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px; /* Adjust the gap between cards */
  height:auto;
}
.card-image{
  width:200px;
  height: auto;
  border-radius: 2em;
}
.card-content h3{
  display: flex;
  justify-content: center;
  text-align: justify;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.card-content p{
  display: flex;
  padding: 0px 20px;
  justify-content: center;
  text-align: justify;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.card:hover{
  transform: translateY(-5px); /* Example animation on hover */
  /* transform: scale(1.1); */
  box-shadow: 0 0 10px rgba(78, 78, 77, 0.507);
}
.card-image-background{
  display: flex;
  justify-content: center;
  align-items: centre;
}

.card-slider{
  margin-top: 5em;
}

.cards{
  background-color: beige;
  border: 1px solid rgb(253, 252, 252);
  width: 100px;
  height: auto;
  display: block;
  border-radius: 2em;
  /* margin-top: 5em; */
}

.card-images{
  width: max-content;
  border-radius: 2em;

}
.card-content-background{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  font-size: small;
} 
.slick-slide > div{
  margin: 0 15px
}
svg{
  height: 3em;
  width: 3em;
  border-radius: 2em;
}
svg:hover{
  box-shadow: 0 0 10px rgba(78, 78, 77, 0.507);
}
@media (max-width: 768px) {
  .card-content-background {
    max-width: 90%; /* Adjust for smaller screens */
    margin: 5px;
    padding: 8px 5px; /* Adjust padding for smaller screens */
  }
  .slick-slide > div{
    margin: 0 5px
  }
}
/* EVENTS */
.events{
  display: flex;
  justify-content: center;
  justify-content: space-around;
  
}
.events-link{
  padding: 10px 50px;
  font-size: larger;
  font-weight: 500;
  border: 3px solid rgb(56, 83, 29);

  
}
.activity1{
  border-top-left-radius: 3em;
  border-bottom-right-radius: 3em;  
  display: flex;
  justify-content: center;
  text-align: center;
}


.activity2{
  border-top-right-radius: 3em;
  border-bottom-left-radius: 3em;
  display: flex;
  text-align: center;

}
  
.events-link:hover{
  color: rgb(44, 70, 19);
  transform: scale(1.1); /* Scale effect */
  box-shadow: 0 0 10px rgba(78, 78, 77, 0.507);
  background-color: rgba(128, 255, 0, 0.247);
}

/* CONTACT US  */
.footer-img{
  /* max-width: fit-content; */
  width: 100%;
}
.display-col{
  display: flex;
  flex-direction: column;
}
.contact-main-container{
  display: flex;
  background-color: #1d1d1d;
  justify-content: space-between;
  color: rgba(247, 244, 240, 0.808);
  padding: 20px;
  /* margin-top: 50px; */
  
}
.headings{
  margin-bottom: 20px;
  font-size: large;
}

.other-links{
  text-decoration: none;
  color: #c9c7c7b7;
  font-size:small;
  text-wrap: wrap;
}
.other-links:hover{
  color: chartreuse;
}

.contact-container{
  padding-left: 20px;
} 

.lists{
  line-height: 1.6;
  margin-top: 10px;
  line-height: 2.5;
  font-size: small;
  color: #acacacb7;
  text-wrap: wrap;
}

.social-link{
  display: flex;
  font-size: small;
  color: #acacacb7;
    
}

.quote{
  padding-left: 7px;
}


/* FOOTER */
.footer{
  background-color: #000000;
  color: rgba(250, 235, 215, 0.733);
  font-size: small;
  display: flex;
  justify-content: center;
  padding: 20px;
}